<nav class="w-clearfix nav-menu nav-profile">
          <a class="w-hidden-small w-hidden-tiny w-inline-block nav-link nav-link-profile nav-profile" href="{{ url_for('home') }}">
            <div>Home</div>
          </a>
          <a class="w-hidden-small w-hidden-tiny w-inline-block nav-link nav-link-profile nav-profile" href="{{ url_for('about') }}">
            <div>About</div>
          </a>
          <a class="w-hidden-small w-hidden-tiny w-inline-block nav-link nav-link-profile nav-profile" href="{{ url_for('subscribe') }}">
            <div>Subscribe</div>
          </a>
          <a class="w-hidden-small w-hidden-tiny w-inline-block nav-link nav-link-profile nav-profile" href="mailto:talk@tisked.com">
            <div>Contact</div>
          </a>
          {% include 'mobileMenu.html' %}
</nav>