<div class="w-form" id="main-search">
          <form class="w-clearfix" method="get" id="search-form" name="search-form" data-name="Email Form">
            {{ form.searchRest(class="w-input field home",placeholder="restaurant") }}
            {{ form.searchAddy(class="w-input field home",placeholder="location") }}
            <input class="w-button button search" type="submit" value="">
          </form>
          <div class="w-form-done">
            <p>Thank you! Your submission has been received!</p>
          </div>
          <div class="w-form-fail">
            <p>Oops! Something went wrong while submitting the form :(</p>
          </div>
</div>