<div class="w-container subscribe">
      <p class="vios profile" style="padding: 0;">Get the latest latest reviews in your neighborhood</p>
      <div class="w-form form-wrapper">
        <h2 style="color: orange">{{ get_flashed_messages()[0] }}</h2>
        <form class="w-clearfix" name="wf-form-subscribe" data-name="Subscribe" method="post" style="padding: 0% 2% 2%;">  
            {{ form.csrf_token }}
            {{ form.email(class="w-input field email",placeholder="Email *",style="width: 45%;font-size:12px;text-transform:capitalize;") }}
            {{ form.zipcd(class="w-input field",placeholder="Zip Code *",style="width: 45%;font-size:12px;text-transform:capitalize;") }}
            {{ form.first_name(class="w-input field",placeholder="First Name",style="width: 45%;font-size:12px;text-transform:capitalize;") }}
            {{ form.last_name(class="w-input field",placeholder="Last Name",style="width: 45%;font-size:12px;text-transform:capitalize;") }}
            {% for field_name, field_errors in form.errors.items() %}
              <ul style="color: red">{% for error in field_errors %}
                <li>{{ error }}</li>
                {% endfor %}</ul>
          {% endfor %}
            <input class="w-button sign-up-button" type="submit" value="Get the Dish" style="width: 50%;height:5%;margin-left: 20%;font-size:12px;text-transform:capitalize;" >
          </form>
        <div class="w-form-done success-message on-dark">
          <h2 class="alternative-h2">Awesome sauce!</h2>
          <p>Thank you! Your submission has been received!</p>
        </div>
        <div class="w-form-fail">
          <p>Oops! Something went wrong while submitting the form :(</p>
        </div>
      </div>
</div>