{% extends "base.html" %}
{% block title %}<title>{{ 'Tisk | Home' }}</title>{% endblock %}
{% block content %}  <div class="w-clearfix all-content">

    <div class="main-column content about">
      <div class="w-nav" data-collapse="medium" data-animation="default" data-duration="400"></div>
      <nav class="w-nav navbar" data-collapse="small" data-animation="default" data-duration="400">
        <nav class="w-nav-menu nav-menu about" role="navigation"><a class="w-nav-link nav-link" href="/">Home</a><a class="w-nav-link nav-link" href="/subscribe">Contact</a>
        </nav>
        <a href="#" class="w-nav-button w-clearfix menu-wrapper">
            <div class="w-icon-nav-menu menu-icon"></div>
            <div class="menu">MENU</div>
            <img class="menu-wrapper-logo" src="https://s3.amazonaws.com/tisk-assets/img/logo/home_page_logo.png">
            <ul class="mobile-nav">
              <li class="mobile-nav-link"><a href="/home">Home</a></li>
              <li class="mobile-nav-link"><a href=#>About</a></li>
              <li class="mobile-nav-link"><a href="/subscribe">Contact</a></li>
            </ul>
          </a>
      </nav>
      <div class="section">
        <h1>About Tisk</h1>
        <p>{{ 'Stopping the \'runs\' since 2014' }}</p>
        <!--<p>{{ "Who, what, why?
tsk-tsk: to express disapproval of by or as if by uttering tsk

Who are we?: We're just a couple of concerned citizens with an appreciation for food and a healthy suspicion of the establishments that provide it. We're a brother-sister duo — Philly lifers who see our city booming with new bars and restaurants and feel a desire to take them to task on your behalf. Because nothing ruins a brunch, lunch or night out like a sweat-inducing bout of food poisoning. The CDC estimates that each year roughly 1 in 6 Americans get sick from foodborne illnesses and we figured, “How can we help Philadelphians be on of the lucky 5?”

Here's How: We took information that's always been publicly available via the Philadelphia Public Health Department website and made it more accessible. Wanna know if the cook at your local corner café is making your sandwich with unwashed hands? Or maybe you're just itching to try that new Thai place you discovered around the corner, but want to make sure mice aren't on the menu. We've got you covered.

We broke down and distilled the laundry list of violations detailed on hundreds of food safety inspection reports into a group of 10 distinct categories of varying severity:

PRIMARY VIOLATIONS (Foodborne illness risk factors):
CONTAMINATION: Food separated/protected, food surfaces clean & sanitized, properly used/identified food additives & toxic substances, properly washed fruits & vegetables (Listeria, Staphylococcus Aureus (Staph), E. Coli, Vibrio Parahaemolyticus/vibrio cholerae, Campylobacter jejuni, Salmonella)
LABELING: Food properly labeled/dated & in original container(s) (Listeria, Vibrio Parahaemolyticus/vibrio cholerae)
PERSONAL HYGIENE: Proper handwashing & personal cleanliness (Rotavirus, Hepatitis, Norovirus, Listeria, Staphylococcus Aureus (Staph), Campylobacter jejuni, Salmonella)
PESTS & RODENTS: Insects, rodents & animals (Salmonella, 
Rat-Bite Fever, Lymphocytic Chorio-meningitis, Leptospirosis, Hantavirus Pulmonary Syndrome)
TEMPERATURE CONTROL: Proper cooling, thawing & heating (Scombrotoxin, Listeria, Streptococcus (Strep throat), Staphylococcus Aureus (Staph), E. Coli, Vibrio Parahaemolyticus/vibrio cholerae, Campylobacter jejuni, Salmonella)
UNKNOWN PRODUCT SOURCES: Food obtained from an approved source (Listeria)


SECONDARY VIOLATIONS (Good retail practices):
CERTIFICATION: Demonstration of knowledge/compliance with Philadelphia codes & ordinances 
FACILITIES & MAINTENANCE: Properly maintained utensils & physical facilities 
REFUSE: Garbage & refuse properly disposed 
RESTROOMS: Properly constructed, supplied & cleaned toilet facilities 

Making the Grade:  
What does it all mean?: It’s actually pretty simple. Within the 10 violation categories, there are over 65 specified inspection complaints. We ranked each of those complaints using a 1-5 scale ranging from a lack of no smoking signs (1) to visible mouse activity (5). Using those weighted scores, we totalled the violations for each restaurant (ranging from 1-62) and set the curve. Breaking the hundreds of restaurants with food inspection information into percentile groups, we graded them A, B, C or D (with a handful of fails for the very few who couldn’t make the grade). See? Easy." }}<p>
<p>{{ "Find out more about foodborne illnesses and how to prevent them here:"}}</p> <p>{{ 'http://www.fda.gov/downloads/Food/FoodborneIllnessContaminants/UCM297627.pdf' }}</p>-->
      </div>
      </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block JS2 %}
<script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/map.js') }}"></script>
    <script type="text/javascript">
    	
    	navigator.geolocation.getCurrentPosition(sendloco);	
    </script>
{% endblock %}