<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{ url_for('static', filename = 'img/apple.png')}}">
    

    <title>Foodo | Health Inspection Results</title>

    <!-- Bootstrap -->
    	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap-min2.css') }}">
    	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/jumbotron-narrow.css') }}">
	<!-- Google Maps -->
		<script type="text/javascript"
      		src=https://maps.googleapis.com/maps/api/js?key=AIzaSyDZTlXL-J2h0DQO0CVDpXbtKOtn_TTCZTU&sensor=true>
    	</script>
    	<script>
    		function initialize() {
        		var center = new google.maps.LatLng(39.941063, -75.173192)
        		var mapOptions = {
          			center: center,
          			zoom: 15
        		}
        		var map = new google.maps.Map(document.getElementById("map-canvas"),
            	mapOptions);
            	
            	var marker = new google.maps.Marker({
            		position: center,
            		map: map,
            		title: 'Foodo HQ'
     		 	});
     		 }
     		google.maps.event.addDomListener(window, 'resize', initialize);
      		google.maps.event.addDomListener(window, 'load', initialize);
    	</script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
        <a href="{{ url_for('home')}}"><h3 class="text-muted">Foodo</h3>
      </div>
    {% block content %}
    {% endblock %}
    </div> <!-- /container -->   

    <!-- Bootstrap core JavaScript
    ================================================== -->
    
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
