{% extends "base.html" %}
{% block jsInit %}
<script src=https://maps.googleapis.com/maps/api/js?v=3.exp></script> 
<script type="text/javascript" src="{{ url_for('static',filename='js/map.js') }}"></script>
<script type="text/javascript">
  <!-- Add map here -->
	/*function geoload() {
	    	navigator.geolocation.getCurrentPosition(sendloco,errorloco);	
	    };
	geoload();*/
</script>
<script type="text/javascript">
  $(document).ready(function() {
      $("form").submit(function(evt) {
        evt.preventDefault();
        var addy = $("#searchAddy").val() || ""; 
        var restNm = $("#searchRest").val() || "";
        if (restNm) {
          window.location.search = '?search='+restNm;
        } else if (addy) {
          geocode(addy,restNm);
        } else {
          alert('no terms provided!');
        }
      });
  });
</script>
{% endblock %}
{% block title %}<title>{{ 'Tisk | Home' }}</title>{% endblock %}
{% block content %}
  <div class="w-clearfix all-content">
    {% block maincolumn %}
    <header class="main-column header filter">
      <div class="black_overlay main">
        <h1 class="logo"></h1>
        {% block search %}
          {% include '/snippets/Search.html' %}
        {% endblock %}
        <!--{{ count }} results-->
        <div class="w-clearfix footer-wrapper">
          <a class="w-inline-block footer-nav-link" href="https://twitter.com/tiskphl"><!--Add Twitter page -->
            <img src="https://s3.amazonaws.com/tisk-assets/img/twitter/Twitter_logo_white.png" width="30" alt="twitter">
          </a>
          <a class="w-inline-block footer-nav-link" href="/subscribe">
            <div class="subscribe">Subscribe</div>
          </a>
        </div>
      </div><!--end overlay-->
    </header>
    {% endblock %}
    <div class="main-column content">
      <nav class="w-nav navbar" data-collapse="small" data-animation="default" data-duration="400">
        {% include '/snippets/Nav-menu.html' %}
      </nav>
      {% block summaries %}
        {% include '/snippets/restSummaries.html' %}
      {% endblock %}
    </div>
  </div>
{% endblock %}
{% block endingJs %}
{% endblock %}

