{% extends "landingnoloco2.html" %}
{% block jsInit %}
<script src=https://maps.googleapis.com/maps/api/js?v=3.exp></script> 
<script type="text/javascript" src="{{ url_for('static',filename='js/map.js') }}"></script>
<script type="text/javascript">
	function geoload() {
	    	navigator.geolocation.getCurrentPosition(sendloco,errorloco);	
	    };
	geoload();

	$(document).ready(function() {
	    $("form").submit(function(evt) {
	    	evt.preventDefault();
	    	var addy = $("#searchAddy").val() || ""; 
	    	var restNm = $("#searchRest").val() || "";
	    	if (restNm) {
	    		window.location.search = '?search='+restNm;
	    	} else if (addy) {
	    		geocode(addy,restNm);
	    	} else {
	    		alert('no terms provided!');
	    	}
	    });
	});
	    
</script>
{{ super() }}
{% endblock %}