{% extends "base.html" %}
{% block jsInit %} 
{% endblock %}
{% block title %}<title>{{ 'Tisk | Home' }}</title>{% endblock %}
{% block content %}
  <div class="w-clearfix all-content">
    
    <header class="main-column header">
      <h1 class="logo"></h1>
      <div class="w-hidden-small w-hidden-tiny big-tagline">Tagline Here</div>
      <div class="w-form">
        <form class="w-clearfix" method="post" id="email-form" name="search-form" data-name="Email Form">
          {{ form.csrf_token }}
          {{ form.search(class="w-input field",placeholder="Restuarant") }}
          <input class="w-button button" type="submit" value="Submit" >
        </form>
        <div class="w-form-done">
          <p>Thank you! Your submission has been received!</p>
        </div>
        <div class="w-form-fail">
          <p>Oops! Something went wrong while submitting the form :(</p>
        </div>
      </div>
      <div class="w-clearfix footer-wrapper">
        <a class="w-inline-block footer-nav-link" href="https://twitter.com/tiskphl"><!--Add Twitter page -->
          <img src="https://s3.amazonaws.com/tisk-assets/img/twitter/Twitter_logo_white.png" width="30" alt="twitter">
        </a>
        <a class="w-inline-block footer-nav-link" href="#">
          <div style="display:none;" class="subscribe">Subscribe</div>
        </a>
      </div>
    </header>
    <div class="main-column content">
      <nav class="w-nav navbar" data-collapse="small" data-animation="default" data-duration="400">
        <nav class="w-nav-menu w-clearfix nav-menu" role="navigation">
        	<a class="w-nav-link nav-link" href="{{ url_for('home') }}" data-ix="new-interaction">Home</a>
        	<a class="w-nav-link nav-link" href="#">About</a>
        	<a class="w-nav-link nav-link" href="#">Contact</a>
        </nav>
        <div class="w-nav-button menu-wrapper">
          <div class="w-icon-nav-menu menu-icon"></div>
          <div class="menu">MENU</div>
        </div>
      </nav>
      {% for rest in rests %}
	      <a class="w-clearfix w-inline-block article" href="{{ url_for('profile',id=rest.id)}}">
	        <section class="w-clearfix article-text-wrapper">
	          <h2 class="arrow">❯</h2>
	          <h4 class="vios">{{ 'Grade: ' }}{{ rest.grade }} </h4>
	          <h2 class="thumbnail-title">{{ rest.name }}</h2>
	          <p>{{ rest.street }}{{ ' Philadelphia, PA ' }}{{ rest.zipcd }}</p>
	          <div class="article-info-wrapper">
	          	{% if rest.latestDt() %}
        			<div class="article-info-text">
        				<h4>{{ rest.latestDt().strftime("%A, %B %d, %Y") }}</h4>
        			</div></br>
        			{% if rest.badges %}
	            		{% for badge in rest.badges %}
	            			<div class="article-info-text tag">{{ badge|trim }}</div>
							{% endfor %}
					{% endif %}
				{% else %}
					<div class="article-info-text">
        				<p><b>{{ "No inspection since 2013" }}</b><p>
        			</div>
        		{% endif %}
	            
	          </div>
	        </section>
			
	      </a>
		<hr/>
	   {% endfor %}
      <div class="w-nav" data-collapse="medium" data-animation="default" data-duration="400"></div>
      <nav class="w-nav pagination-nav" data-collapse="none" data-animation="default" data-duration="400">
        <nav class="w-nav-menu w-clearfix nav-menu" role="navigation"><a class="w-nav-link nav-link page" href="index.html">PG. 1</a><a class="w-nav-link nav-link page" href="#">Pg. 2</a><a class="w-nav-link nav-link page" href="#">pg. 3</a>
        </nav>
        <div class="w-nav-button">
          <div class="w-icon-nav-menu"></div>
        </div>
      </nav>
    </div>
  </div>
{% endblock %}
{% block JS2 %}
<script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    
{% endblock %}