<a href="#" class="w-nav-button w-clearfix menu-wrapper">
            <div class="w-icon-nav-menu menu-icon"></div>
            <a href="/"><img class="menu-wrapper-logo" src="https://s3.amazonaws.com/tisk-assets/img/logo/home_page_logo.png"></a>
            <ul class="mobile-nav">
              <li class="mobile-nav-link"><a href="/">Home</a></li>
              <li class="mobile-nav-link"><a href="/about">About</a></li>
              <li class="mobile-nav-link"><a href="/subscribe">Subscribe</a></li>
              <li class="mobile-nav-link"><a href="mailto:#">Contact</a></li>
            </ul>
</a>