{% extends "base.html" %}
{% block title %}<title>{{ 'Tisk | Home' }}</title>{% endblock %}
{% block content %}
<div></div>
  <div class="w-container"></div>
  <div class="header-image">
    <div class="w-container">
      <div class="w-clearfix navbar">
        <div class="w-clearfix nav-menu">
          <a class="w-hidden-small w-hidden-tiny w-inline-block nav-link" href="{{ url_for('home') }}">
            <div>Home</div>
          </a>
          <a class="w-hidden-small w-hidden-tiny w-inline-block nav-link" href="{{ url_for('about') }}">
            <div>About</div>
          </a>
          <a class="w-hidden-small w-hidden-tiny w-inline-block nav-link" href=#>
            <div>Contact</div>
          </a>
        </div>
      </div>
    </div>
    <div class="w-container header-container">
      <div class="w-row w-hidden-main w-hidden-medium mobile-header-row">
        <div class="w-col w-col-6 w-clearfix mobile-header-row left-column">
          <img class="w-hidden-main w-hidden-medium w-hidden-small author-image mobile" src="images/profile_page_logo.png" width="163" alt="537a3eaeef89236d7de9d427_profile_page_logo.png">
          <div class="mobile-header-div">
            <h1>{{ rest.name }}</h1>
            <p class="mobile-para">{{ avgvios }} {{ 'AVG VIOLATIONS' }} </p>
            <p>{{ rest.street }}</p>
            <p>{{ 'Philadelphia, PA ' }}{{ rest.zipcd }}</p>
          </div>
        </div>
        <div class="w-col w-col-6 w-hidden-tiny w-clearfix">
          <img class="w-hidden-main w-hidden-medium author-image mobile" src="images/profile_page_logo.png" width="200" alt="537a3eaeef89236d7de9d427_profile_page_logo.png">
        </div>
      </div><a class="w-hidden-main w-hidden-medium hollow-button" href="{{ url_for('home') }}" >❮&nbsp; &nbsp;Home</a>
    </div>
  </div>
  <div class="content-section">
    <div class="w-row mobile-header-row right-column">
      <div class="w-col w-col-7 article-body-column">
        <div class="vios date">Last Inpsection: {{ lateDt.strftime("%A, %B %d, %Y") }}</div>
	        {% for badge in comments %}
		        <div class="w-row badgerow">
		          <div class="w-col w-col-2 w-clearfix moble-badge-row">
		            <img class="w-hidden-main w-hidden-medium" src="{{ url_for('static', filename='img/badges/{}.jpg'.format(badge|trim))}}" width="70" alt="{{ badge|trim}}" title="{{ badge|trim}}">
		            <div class="badge"><bold><h2>{{ badge|trim }}</h2></bold></div>
		            <img class="w-hidden-small w-hidden-tiny badge" src="{{ url_for('static', filename='img/badges/{}.jpg'.format(badge|trim))}}" title="{{ badge|trim}}" alt="{{ badge|trim}}">
		          </div>
		          <div class="w-col w-col-10">
		            <ol>
		              {% for comment in comments[badge] %}
						<li><h3>{{ comment }}</h3></li>
	        		  {% endfor %}
		            </ol>
		          </div>
		        </div>
		    {% endfor %}     
      </div>
      <div class="w-col w-col-5 w-hidden-small w-hidden-tiny author-column">	
        <h4 class="w-hidden-main w-hidden-medium">About the Author</h4>
        <img class="author-image" src="{{ url_for('static', filename='img/profilelogo.png')}}" width="200" alt="{{ rest.name }}">
        <p class="vios">{{ avgvios }} Viloations</p>
        <div class="thumbnail-title">{{ rest.name }}</div>
        <div class="article-info-wrapper">
          <div class="article-info-text">
          	<p>{{ rest.street }}</p>
          	<p>{{ 'Philadephia, PA ' }}{{ rest.zipcd }}</p>
          </div>
        </div>
        <div class="author-social-links">
          <div class="author-connect">Connect with the author</div>
          <a class="w-inline-block social-link" href="#">
            <img src="images/twitter-icon_black.svg" alt="52f31c8e593f6edf4100071a_twitter-icon_black.svg">
          </a>
          <a class="w-inline-block social-link" href="#">
            <img src="images/facebook-icon_black.svg" alt="52f31ccb73df7f296b00059c_facebook-icon_black.svg">
          </a>
          <a class="w-inline-block social-link" href="#">
            <img src="images/instagram-icon-black.svg" alt="52f31cba73df7f296b000599_instagram-icon-black.svg">
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="subscribe-section">
    <div class="w-container">
      <h2 class="alternative-h2">Get the latest articles in your inbox</h2>
      <div class="w-form form-wrapper">
        <form class="w-clearfix" name="wf-form-subscribe-via-article" data-name="Subscribe via Article">
          <input class="w-input sign-up-field" type="email" placeholder="Enter your email address" name="email" data-name="Email" required="required">
          <input class="w-button sign-up-button" type="submit" value="Subscribe" data-wait="Please wait...">
        </form>
        <div class="w-form-done success-message on-dark">
          <h2 class="alternative-h2">Awesome sauce!</h2>
          <p>Thank you! Your submission has been received!</p>
        </div>
        <div class="w-form-fail">
          <p>Oops! Something went wrong while submitting the form :(</p>
        </div>
      </div>
    </div>
    <div class="content-section">
      <div class="content-section footer">
        <div class="w-container"><a class="footer-link proof" href="{{ url_for('home') }}">PROOF MAGAZINE</a><a class="footer-link" href="suggest.html">suggest a story</a><a class="footer-link" href="about.html">about</a><a class="footer-link" href="subscribe.html">subscribe</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block JS %}
{% endblock %}