{% extends "base.html" %}
{% block title %}<title>{{ 'Tisk | Home' }}</title>{% endblock %}
{% block jsInit %} 
  <script>
    $('.nav-link-profile').css({'max-width':'20%'})
  </script>
{% endblock %}
{% block content %}
  <div class="w-container"></div>
  <div class="w-container">
      <nav class="w-clearfix navbar">
        {% include '/snippets/Nav-menu.html' %}
    </div>
  <div id="body-profile">
    <div class="header-image piece">
              <div class="flex-container grade">
                <div class="flex-col1">
                  <img class="w-hidden-main w-hidden-medium author-image mobile" src="https://s3.amazonaws.com/tisk-assets/img/logo/profilelogo.png" width="200" alt="537a3eaeef89236d7de9d427_profile_page_logo.png">
                  <p class="thumbnail-title profile">{{ rest.name }}</p>
                </div><!-- end flex-col1 -->
                <div class="flex-col2">
                  <div class="thumbnail-title profile">{{ 'Grade:' }}  {{ rest.grade }}</div>
                </div><!-- end flex-col2 -->
                {% if rest.latestDt() %}  
                  <p class="rest-addy">{{ '                ' }}{{ rest.getVios() }} {{ 'Violations' }}</p>
                {% endif %}
                <div class="flex-col3">
                  <p class="rest-addy">{{ rest.street }}</p>
                  <p class="rest-addy">{{ 'Philadelphia, PA ' }}{{ rest.zipcd }}</p>
                </div>  
                <div class="flex-col5">
                  {% if rest.latestDt() %}
                    <p class="rest-addy">Last Inspection: {{ rest.latestDt().strftime("%B %d, %Y") }}</p>
                  {% endif %}
                </div>  
              </div><!-- end flex -->
          <div class="w-col w-col-6 w-hidden-tiny w-clearfix"></div>
    </div><!-- end header-image -->
  <div class="content-section piece">
    <div class="w-row mobile-header-row right-column">
      <div class="w-col w-col-8 article-body-column">
      		    {% if rest.latestDt() %}
                <div id="large-date">Last Inspection: {{ rest.latestDt().strftime("%B %d, %Y") }}<hr></div>
                <div class="vio-categories">   
        	        {% if foodcomments %}
                    <h2 class="vios date category"><span style="display:inline-block; vertical-align:middle">{{ 'Food Comments (Primary)' }}</span></h2>
        		        {% for badge in foodcomments %}
        			        <div class="w-row badgerow">
                        <div class="w-col w-col-specialsm w-clearfix moble-badge-row">
        			            <img class="w-hidden-small w-hidden-tiny badge" src="https://s3.amazonaws.com/tisk-assets/img/badges/{{ badge|trim }}.gif" title="{{ badge|trim}}" alt="{{ badge|trim}}">
                            <div class="mobile-comments">
                              <img class="w-hidden-main w-hidden-medium badge" src="https://s3.amazonaws.com/tisk-assets/img/badges/{{ badge|trim }}.gif" alt="{{ badge|trim}}" title="{{ badge|trim}}">
                              <div class="badge"><p class="vios profile">{{ badge|trim }}</p></div>
                              <ol>
                                {% for comment in foodcomments[badge] %}
                                  <li><p>{{ comment[0] }}<p></li>
                                {% endfor %}
                              </ol>
                          </div>
        			          </div>
        			          <div class="w-col w-col-speciallg article-info-wrapper profile-body">
                          <div class="badge"><p class="vios profile">{{ badge|trim }}</p></div>
        			            <ol>
        			              {% for comment in foodcomments[badge] %}
        							<li>{{ comment[0] }}</li></br>
        		        		  {% endfor %}
        		                </ol>
        			          </div>
        			        </div>
        			      {% endfor %}
                  {% endif %}
                </div><!--end food category-->
                <hr>
                <div class="vio-categories">
                  {% if othercomments %}
                    <h2 class="vios date category">{{ 'Other Comments (Secondary)' }}</h2>
                    {% for badge in othercomments %}
                      <div class="w-row badgerow">
                        <div class="w-col w-col-specialsm w-clearfix moble-badge-row">
                          <img class="w-hidden-small w-hidden-tiny badge" src="https://s3.amazonaws.com/tisk-assets/img/badges/{{ badge|trim }}.gif" title="{{ badge|trim}}" alt="{{ badge|trim}}">
                            <div class="mobile-comments">
                              <img class="w-hidden-main w-hidden-medium badge" src="https://s3.amazonaws.com/tisk-assets/img/badges/{{ badge|trim }}.gif" alt="{{ badge|trim}}" title="{{ badge|trim}}">
                              <div class="badge"><p class="vios profile">{{ badge|trim }}</p></div>
                              <ol>
                                {% for comment in othercomments[badge] %}
                                  <li>{{ comment[0] }}</li>
                                {% endfor %}
                              </ol>
                          </div>
                        </div>
                        <div class="w-col w-col-speciallg article-info-wrapper profile-body">
                          <div class="badge"><p class="vios profile">{{ badge|trim }}</p></div>
                          <ol>
                            {% for comment in othercomments[badge] %}
                      <li>{{ comment[0] }}</li></br>
                          {% endfor %}
                            </ol>
                        </div>
                      </div>
                    {% endfor %}
                  {% endif %}
                </div><!--end other category-->
            {% else %}
      				<h4 class="no-data">{{ 'No recent inspection data exists' }}</h4>      
            {% endif %}	
      </div>
      <div class="w-col w-col-4 w-hidden-small w-hidden-tiny author-column">	
        <h4 class="w-hidden-main w-hidden-medium">About the Author</h4>
        <!--<img class="author-image" src="https://s3.amazonaws.com/tisk-assets/img/logo/profilelogo.png" alt="{{ rest.name }}">-->
         <img class="author-image" href="https://s3.amazonaws.com/tisk-assets/img/logo/profilelogo.png">

        {% if rest.grade %}
          <div class="thumbnail-title vios">{{ rest.name }}</div>
          <div class="thumbnail-title vios"> {{ 'Grade: '}}{{ rest.grade }} </div>
          <div>{{ '                ' }}{{ rest.getVios() }} {{ 'Violations' }}</div>
        {% else %}
          <div class="author-image"><p class="thumbnail-title grade">{{ 'N/A' }}</p></div>
        {% endif %}
       
        <div class="article-info-wrapper">
          <div class="article-info-text">
            <p>{{ rest.street }}</p>
            <p>{{ 'Philadephia, PA ' }}{{ rest.zipcd }}</p>
          </div>
        </div>
        <div class="author-social-links">
          <div class="author-connect">Tweet Tisk</div>
          <a class="w-inline-block social-link" href="https://twitter.com/tiskphl">
            <img src="https://s3.amazonaws.com/tisk-assets/img/twitter/Twitter_logo_blue.png" width="40" alt="twitter">
          </a>
        </div>
      </div>
      <div class="w-col w-col-4 w-hidden-small w-hidden-tiny author-column subscribe">
        {% include '/snippets/subscribeForm.html' %}
    </div>
  </div>
  </div>
  <div class="subscribe-section piece">
    {% include '/snippets/subscribeForm.html' %}
      <!--<div class="content-section footer">
        <div class="w-container"><a class="footer-link proof" href="{{ url_for('home') }}">Home</a><a class="footer-link" href="{{ url_for('about') }}">About</a><a class="footer-link" href="{{ url_for('subscribe') }}">Contact</a>
        </div>
      </div>-->
  </div>
{% endblock %}
{% block endingjs %}
<script>
    $('.nav-link-profile').css({'max-width':'20%'})
</script>
{% endblock %}