{% extends "base.html" %}
{% block content %}
<h1> Average Violations : {{ avgvios }} </h1>
<h1>{{ rest.name }}</h1>
<h2>{{ rest.street }}</h2>
<h2>{{ 'Philadelphia, PA ' }}{{ rest.zipcd }}</h2>
 {{ lateDt.strftime("%A, %B %d, %Y") }}</br>
{% for badge in comments %}
        			<img id="badge" src="{{ url_for('static', filename='img/{}.png'.format(badge|trim))}}" title="{{ badge|trim}}">
        				{% for comment in comments[badge] %}
        					<p>{{ comment }}</p>
        				{% endfor %}
        					
{% endfor %}<hr>
{% endblock %}